---
import Layout from "../layouts/Layout.astro";
import CursoCard from "../components/CursoCard.astro";
import AOS from 'aos';
import 'aos/dist/aos.css';
import Proximamente from "../components/Proximamente.astro";
---

<Layout>
  <Proximamente />
  <!--  
  <div class="text-black px-4 relative">
    
    <h1 class="text-5xl font-extrabold mb-6 text-[#FFB84D] text-center  relative z-10 animate-fade-in" >
      OFERTAS EDUCATIVAS
    </h1>
    
    <p class="text-xl text-gray-300 text-center mb-8 max-w-3xl mx-auto font-light animate-fade-in" >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dicta veritatis cum harum vel, possimus illo ipsam ducimus aliquam soluta quasi, commodi cumque libero iusto, nostrum reiciendis ratione incidunt fugiat.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-12">
      <div class="bg-gradient-to-r bg-white/5
      border-white/10 text-white p-8 rounded-xl shadow-2xl hover:scale-105 transition-transform duration-500">
        <h3 class="text-[#FFB84D] text-2xl font-semibold mb-4 text-shadow-md">Lorem ipsum dolor </h3>
        <p class=" font-light opacity-80 animate-fade-in" >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, inventore! Nam earum voluptate fuga vel, commodi odio dignissimos nihil corporis, libero ipsa assumenda aperiam, ex maiores! Tenetur eveniet dolores temporibus?
        </p>
      </div>

      <div class="bg-gradient-to-r bg-white/5
      border-white/10 text-white p-8 rounded-xl shadow-2xl hover:scale-105 transition-transform duration-500">
        <h3 class="text-2xl font-semibold mb-4 text-shadow-md text-[#FFB84D]">Lorem ipsum dolor </h3>
        <p class="font-light opacity-80 animate-fade-in" >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, inventore! Nam earum voluptate fuga vel, commodi odio dignissimos nihil corporis, libero ipsa assumenda aperiam, ex maiores! Tenetur eveniet dolores temporibus?
        </p>
      </div>

      <div class="bg-gradient-to-r bg-white/5
      border-white/10 text-white p-8 rounded-xl shadow-2xl hover:scale-105 transition-transform duration-500">
        <h3 class="text-[#FFB84D] text-2xl font-semibold mb-4 text-shadow-md">Lorem ipsum dolor </h3>
        <p class="font-light opacity-80 animate-fade-in" >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, inventore! Nam earum voluptate fuga vel, commodi odio dignissimos nihil corporis, libero ipsa assumenda aperiam, ex maiores! Tenetur eveniet dolores temporibus?
        </p>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 place-items-center" >
      <CursoCard 
        title="Profesorado en Educación Básica"
        image="/assets/carrera.webp"
        alt="Educación Básica"
      />
      <CursoCard 
        title="Profesorado en Educación Inicial"
        image="/assets/carrera.webp"
        alt="Educación Inicial"
      />
      <CursoCard 
        title="Habilitación Pedagógica"
        image="/assets/carrera.webp"
        alt="Habilitación Pedagógica"
      />
      <CursoCard 
        title="Formación Específica en Lengua y Literatura Castellana"
        image="/assets/carrera.webp"
        alt="Lengua y Literatura"
      />
      <CursoCard 
        title="Profesorado para 3° Ciclo Matemática"
        image="/assets/carrera.webp"
        alt="Profesorado Matemática"
      />
    </div>

    <div class="mt-12 text-center">
      <p class="text-lg text-gray-300 mb-6">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur, inventore! Nam earum voluptate fuga vel, commodi odio dignissimos nihil corporis, libero ipsa assumenda aperiam, ex maiores! Tenetur eveniet dolores temporibus?
      </p>

    </div>

  </div>
  -->
</Layout>


