---
import Layout from "../layouts/Layout.astro";
import CursoCard from "../components/CursoCard.astro";
import AOS from 'aos';
import 'aos/dist/aos.css';
import Proximamente from "../components/Proximamente.astro";
import MallaCarreras from "../components/MallaCarreras.astro";
import { carreras } from "../data/carreras";
import AOSInit from "../components/AOSInit";
import Carrusel from "../components/Carrusel.astro"; 
---

<Layout>

  <div class="text-black items-center flex flex-col justify-center px-4 relative overflow-visible" data-aos="zoom-in">
    
    <div>
      <h1 class="text-2xl lg:text-5xl lg:text-start font-extrabold mb-4 text-[#FFB84D] text-center relative z-10">
        OFERTAS EDUCATIVAS
      </h1>
      <div class="w-15 h-1 lg:w-32 lg:h-2 mt-4 bg-[#FFB84D] rounded-full"></div>
    </div>

    <Carrusel />

  </div>

  <AOSInit client:load />
</Layout>
