---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import logo from '../assets/logoifd2.webp';
import AOS from 'aos';
import 'aos/dist/aos.css';
---

<Layout>
  <section class="min-h-[calc(96vh-8rem)] flex flex-col items-center justify-center px-4 text-center w-full bg-[rgb(1,1,40)] text-white relative overflow-hidden hero-animate">

    <div class="relative z-10 flex flex-col lg:flex-row items-center gap-10">
      <div class="flex flex-col items-center lg:items-start">
        <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-9xl font-extrabold text-white">
          FORMACIÓN
        </h1>
        <div class="flex flex-col sm:flex-row items-center gap-4">
          <Image 
            width={400}      
            height={192} 
            class="w-32 sm:w-40 md:w-48 lg:w-36" 
            src={logo} 
            alt="Logo IFD" 
            loading="eager" 
          />
          <h1 class="text-5xl sm:text-7xl md:text-7xl lg:text-9xl font-extrabold text-white">
            DOCENTE
          </h1>
        </div>
      </div>
    </div>

    <p class="mt-20 text-lg sm:text-xl md:text-xl font-roboto-slab italic font-semibold">
      "El objetivo de la educación es crear personas capaces de hacer cosas nuevas, <br class="hidden sm:block" />
      no solamente repetir lo que otras generaciones hacen"
    </p>
  </section>
</Layout>


