---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  
  <div class="min-h-[calc(100vh-8rem)] flex flex-col items-center justify-center px-4 text-center">
    
    <!-- Encabezado -->
    <div class="flex flex-col lg:flex-row items-center gap-6">
      
      <!-- Texto principal -->
      <div class="flex flex-col items-center lg:items-start">
        <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-9xl font-extrabold">FORMACIÓN</h1>
        <div class="flex flex-col sm:flex-row items-center gap-4">
          <img class="w-32 sm:w-40 md:w-48 lg:w-36" src="/src/assets/logoifd.png" alt="Logo IFD" />
          <h1 class="text-5xl sm:text-7xl md:text-7xl lg:text-9xl font-extrabold">DOCENTE</h1>
        </div>
      </div>

      <!-- <img class="w-64 md:w-80 lg:w-96" src="/src/assets/indeximg.png" alt="" /> -->

    </div>

    <!-- Cita -->
    <p class="mt-20 text-lg sm:text-xl md:text-xl font-roboto-slab italic font-semibold">
      "El objetivo de la educación es crear personas capaces de hacer cosas nuevas, <br class="hidden sm:block" />
      no solamente repetir lo que otras generaciones hacen"
    </p>
  </div>
</Layout>
