---

import Layout from "../layouts/Layout.astro";
import Foro from '../components/Foro.jsx';
import ProjectForm from "../components/ProyectoForm.astro";
import ProyectosList from "../components/ProyectosList.jsx"; 
---

<Layout>
  <section>
    <ProjectForm />

    <h2 class="text-3xl font-bold text-center text-gray-800 dark:text-white mb-8">Proyectos Subidos version2</h2>

    <ProyectosList client:load /> 

    <Foro client:load />
  </section>
</Layout>
