---
import { Image } from 'astro:assets';
const { name, subject, image, alt, perfil } = Astro.props;
---

<div class="bg-white/5 mt-15 lg:mt-10 border border-white/10 backdrop-blur-sm text-white shadow-xl rounded-xl overflow-hidden w-full max-w-sm mx-auto transition-all duration-300">
  <div class="relative overflow-hidden group flex justify-center items-center ">
    <Image
      src={image}
      alt={alt}
      width="190"
      height="192"
      class="w-46 h-48 object-cover  "
      loading="eager"
    />

  </div>

  <div class="p-4 text-center">
    <h2 class="text-xl font-light mb-2">{name}</h2>

   
      <a
      href={perfil}
      class="bg-white/15 hover:bg-white/25 text-white font-bold text-center py-1 px-3 rounded-lg transition-all duration-300 active:scale-95 backdrop-blur-md border border-white/20 shadow-lg text-[13px]"
      >Ver perfil</a>
  

  </div>
</div>
