---
import { Image } from 'astro:assets';
---
<section class="min-h-[calc(100vh)] flex flex-col lg:flex-row items-center gap-12 px-4 sm:px-6 py-12" data-aos="fade-up">
  <div class="flex-1 flex flex-col items-center lg:items-start text-center lg:text-left">
    <div class="flex items-center gap-4 mb-4" data-aos="zoom-in">
      <h1 class="text-3xl sm:text-5xl lg:text-7xl font-extrabold">驴CMO</h1>
      <Image height={200} width={100} class="h-10 sm:h-14 md:h-16" src="/src/assets/inscripcion.png" alt="Inscripci贸n" />
    </div>
    <h1 class="text-3xl sm:text-5xl lg:text-7xl font-extrabold" data-aos="fade-up">INSCRIBIRSE?</h1>
  </div>
  <div class="flex-1 w-full" data-aos="fade-left">
    <h2 class="text-3xl sm:text-4xl lg:text-6xl font-extrabold mb-4">DOCUMENTOS</h2>
    <ul class="list-disc list-inside text-base sm:text-lg mb-6 font-light text-left">
      <li>Documento 1</li>
      <li>Documento 2</li>
      <li>Documento 3</li>
      <li>Documento 4</li>
      <li>Documento 5</li>
    </ul>
    <h1 class="text-4xl sm:text-5xl font-extrabold mt-7" data-aos="fade-right">ACERCARLO A</h1>
    <p class="font-light mt-5 text-xl flex flex-col items-center sm:items-start" data-aos="zoom-in">
      (Direcci贸n IFD) 
      <span class="flex flex-col text-center sm:text-left">
        Instituto de formaci贸n docente San Ignacio

        
        <div class="w-full h-[300px] mt-4 rounded-xl overflow-hidden shadow-md">
          <iframe
          title="Mapa del Instituto de Formaci贸n Docente en San Ignacio"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d357.6231717000819!2d-57.030089499999996!3d-26.889768799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945a2415b23fffff%3A0xf9b0a3187a02ebf7!2sInstituto%20de%20Formaci%C3%B3n%20Docente!5e0!3m2!1ses-419!2spy!4v1712859903682!5m2!1ses-419!2spy"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        
      </span>
    </p>
  </div>
</section>
