<section class="flex flex-col items-center lg:flex-row justify-center gap-16 px-4 py-16 min-h-[80vh] bg-white text-gray-800 dark:bg-[rgb(1,1,40)] dark:text-white" data-aos="zoom-in-up">

  <div class="w-full max-w-2xl flex flex-col justify-center border-b lg:border-b-0 lg:border-r border-gray-300 dark:border-gray-600 pr-0 lg:pr-20 pb-10 lg:pb-0">
    <h1 class="text-3xl sm:text-5xl text-blue-900 dark:text-[#FFB84D] font-extrabold mb-4 text-center">
      Visión
    </h1>
    <p class="text-base sm:text-lg leading-normal tracking-normal font-normal font-sans text-gray-700 dark:text-gray-300 text-center lg:text-left">
      Institución de Educación reconocida por su solvencia académica para la formación y acompañamiento docente, cuyos profesionales tengan una sólida cualificación en gestión participativa, innovación e interacción con el contexto social y ecológico.
    </p>
  </div>

  <div class="w-full max-w-2xl flex flex-col justify-center pl-0 lg:pl-8">
    <h1 class="text-3xl sm:text-5xl text-blue-900 dark:text-[#FFB84D] font-extrabold mb-4 text-center">
      Misión
    </h1>
    <p class="text-base sm:text-lg leading-normal tracking-normal font-normal font-sans text-gray-700 dark:text-gray-300 text-center lg:text-left">
      Preparar docentes críticos, creativos, con principios éticos, abiertos a los desafíos, con conocimientos científicos y tecnológicos, comprometidos con la innovación y la creatividad, características propias de la pedagogía del siglo XXI.
    </p>
  </div>

</section>
