

<section class="flex items-center min-h-screen justify-center flex-col lg:flex-row">
    <div class="flex items-center flex-col">
        <h1 class="text-6xl text-[#FFB84D] font-extrabold text-center mb-10">Vision</h1>
        <p class="text-base sm:text-lg font-light text-gray-300 leading-relaxed text-justify break-words bg-white/5 backdrop-blur-md border border-white/10 rounded-xl p-5 shadow-lg w-3/4"> 
            Institución de Educación, reconocida por su solvencia académica para la formación y
            acompañamiento docente cuyosprofesionales tengan una sólida cualificación en gestión participativa, innovación, interacción con el contexto social y ecológico.
        </p>
    </div>

    <div class="flex items-center flex-col">
        <h1 class="text-6xl text-[#FFB84D] font-extrabold text-center mb-10">Mision</h1>
        <p class="text-base sm:text-lg font-light text-gray-300 leading-relaxed text-justify break-words bg-white/5 backdrop-blur-md border border-white/10 rounded-xl p-5 shadow-lg w-3/4">
            Preparar docentes críticos, creativos, con principios éticos, abiertos a los desafíos,
            conocimientos científicos, tecnológicos y comprometidos con la innovación y la creatividad características propias de la pedagogía del siglo XXI.
        </p>
    </div>

</section>