<section class="flex items-center min-h-screen gap-20 flex-col lg:flex-row">

    <div>
        <h1 class="text-6xl font-extrabold text-center mb-10">Mision</h1>
        <p class="text-base sm:text-lg font-light text-gray-300 leading-relaxed text-justify break-words bg-white/5 backdrop-blur-md border border-white/10 rounded-xl p-6 shadow-lg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!</p>
    </div>

    <div>
        <h1 class="text-6xl font-extrabold text-center mb-10">Vision</h1>
        <p class="text-base sm:text-lg font-light text-gray-300 leading-relaxed text-justify break-words bg-white/5 backdrop-blur-md border border-white/10 rounded-xl p-6 shadow-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusantium a quae repudiandae quis autem maiores dolore quos animi perspiciatis neque non atque repellat tenetur, recusandae itaque illo architecto odit!
        </p>
    </div>

</section>