---
import ProyectoYComentario from '../../components/ProyectoYComentarios';
---

<html lang="es">
  <head>
    <title>Proyecto y Comentarios</title>
  </head>
  <body>
    <div class="container">
      <h1>Proyecto y Comentarios</h1>
      <ProyectoYComentario />
    </div>
  </body>
</html>
