---
import Layout from "../../layouts/Layout.astro";
import { carreras } from "../../data/carreras.js";
import { Image } from 'astro:assets';
import MallaCarreras from "../../components/MallaCarreras.astro";

export async function getStaticPaths() {
  return carreras.map((carrera) => ({
    params: { slug: carrera.slug },
  }));
}

const { slug } = Astro.params;
const carrera = carreras.find((d) => d.slug === slug);

if (!carrera) {
  throw new Error(`Carrera con slug "${slug}" no encontrado`);
}
---
<Layout>
  <section class="w-full max-w-4xl mx-auto px-4 mt-10">
    <h2 class="text-2xl sm:text-4xl font-bold mb-10 text-center text-gray-800 dark:text-white">
      Malla Curricular de {carrera.name}
    </h2>

    <div class="divide-y divide-gray-300 dark:divide-gray-600">
      {carrera.mallaCurricular.map((semestre) => (
        <div class="py-6">
          <h3 class="text-xl font-semibold text-blue-800 dark:text-blue-300 mb-3">
            {semestre.semestre}
          </h3>
          <ul class="list-disc pl-6 space-y-1 text-gray-800 dark:text-gray-300 text-base">
            {semestre.materias.map((materia) => (
              <li>{materia}</li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </section>
</Layout>
